version: '3.8'
services:
  backend:
    build: ./contract-application
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build: ./contract-ui
    ports:
      - "3000:80"
    networks:
      - appnet

networks:
  appnet:
